@tailwind base;
@tailwind components;
@tailwind utilities;


.menu span:nth-child(1), .menu span:nth-child(2), .menu span:nth-child(3) {
  height: 4px;
  width: 80%; 
  background-color: rgb(213, 213, 213);
  display: block;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0);
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transition: all .3s ease;
}

.menu:hover span {
  background-color: white;
}


/* individual spans */
.menu span:nth-child(1) {
  top: 25%;
  width: 65%;
  transform: translate(-60%, -50%);
}
.menu span:nth-child(2) {
  width: 30%;
  transform: translate(25%, -50%);
}
.menu span:nth-child(3) {
  top: 75%;
  width: 50%;
  transform: translate(-80%, -50%);
}



/* active states */
.menu span:nth-child(1).active { 
  width: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
  left: 50%;
} 
.menu span:nth-child(2).active {
  transform: translate(-50%, -50%) rotate(1080deg);
  opacity: 0;
}
.menu span:nth-child(3).active {
  width: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  top: 50%;
  left: 50%;
}